@{
    ViewBag.Title = "Error Page";
}
<div style=" padding:20px; color:red">

    <h4>
        Sorry, an error occured. Try again later.
    </h4>
    <h6>@Html.ActionLink("Go Back To Profile", "Index", "Account")</h6> @*link name , action method name , controller name*@
    <br />
    <br />
</div>
