
@{
    Layout = null;
    @model MarriageWebWDB.Models.PasswordModel
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
</head>
<body>
    <h1>Change Password:</h1>
    <div style="position:absolute; margin:auto; top:0px; left:0px; right:0px; bottom:0px; height:500px; width:500px">
        @using (Html.BeginForm("SavePassword", "Account", FormMethod.Post))
        {
            <table>
                <tbody>
                    <tr>
                        <td>Password:</td>
                        <td>@Html.PasswordFor(m => m.OldPassword)</td>
                    </tr>
                    <tr>
                        <td>New password:</td>
                        <td>@Html.PasswordFor(m => m.NewPassword)</td>
                    </tr>
                    <tr>
                        <td>Confirm new password:</td>
                        <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Save" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@ViewBag.UpdatePasswordMessage</td>

                    </tr>
                </tbody>
            </table>
        }
    </div>
</body>
</html>
