
@{
    @model MarriageWebWDB.Models.PasswordModel
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>


<body>
    <br><br>

    <div class="profile-header-container">
        <h1>Change Password</h1>
        <hr class="new1">
        <div class="table-container">
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
            {
                <table>
                    <tr>
                        <td>Password</td>
                        <td style="color:black">@Html.PasswordFor(m => m.OldPassword, new { maxlength = 25 })</td>
                    </tr>
                    <tr>
                        <td>New password</td>
                        <td style="color:black">@Html.PasswordFor(m => m.NewPassword, new { maxlength = 25 })</td>
                    </tr>
                    <tr>
                        <td>Confirm new password</td>
                        <td style="color:black">@Html.PasswordFor(m => m.ConfirmPassword, new { maxlength = 25 })</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input class="button1" type="submit" value="Save" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@ViewBag.UpdatePasswordMessage</td>

                    </tr>
                </table>
            }
        </div>
    </div>

</body>
</html>
