
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="position:absolute; margin:auto; top:0px; left:0px; right:0px; bottom:0px; height:300px; width:300px">
        @using (Html.BeginForm("UserProfile", "Account", FormMethod.Get))
        {
            <table>
                <tbody>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Go to profile" /></td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
</body>
</html>
