@model IEnumerable<int>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Gallery</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>
    @if (Model.Count() == 0)
    {
        <h1>No photos yet.</h1>
    }
    else
    {
        foreach (var item in Model)
        {
            <div class="gallery-container" style="display: inline-block;  float:left; " id=@item>
                <img style="width:350px; height:350px;" src="../../File/Index/?id=@item" alt="Avatar" class="image">
                <div class="middle">
                    <button style="width:100px" class="button1" id="deleteButton" onclick="myfun(@item)">Delete</button>
                </div>
            </div>
        }
    }

</body>
</html>

@section JavaScript{

    <script type="text/javascript" src="~/Scripts/manageGallery.js"></script>
}