
@model IEnumerable<MarriageWebWDB.Models.MessageModel>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SenderUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageText)
            </td>
            <td>
                <p>
                    <span title=@item.ReadDate>
                        @Html.DisplayFor(modelItem => item.SendDate)
                    </span>
                </p>
                @if (!item.SenderUsername.Equals(Session["userToken"]))
                {
                    <p>@Html.DisplayFor(modelItem => item.ReadDate)</p>
                }
            </td>
        </tr>
    }

</table>