
@model IEnumerable<MarriageWebWDB.Models.MessageModel>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SenderUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageText)
            </td>
            <td>
                <p>
                    <span title=@item.ReadDate>
                        @Html.DisplayFor(modelItem => item.SendDate)
                    </span>
                </p>
                @if (!item.SenderUsername.Equals(Session["userToken"]))
                {
                    <p>@Html.DisplayFor(modelItem => item.ReadDate)</p>
                }
            </td>
            <td>
                @if (Session["userToken"].ToString().Equals(item.SenderUsername))
                {
                    using (Ajax.BeginForm("ArchiveMessage", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "messageId" }))
                    {
                        <div class="form-horizontal">
                            <div class="form-group">
                                <input type="hidden" name="messageId" value=@item.MessageId class="form-control" />
                                <input type="hidden" name="username" value=@ViewBag.username />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Archive" class="btn btn-default" />
                            </div>
                        </div>
                    }
                }
            </td>
        </tr>
    }

</table>