@{

    ViewBag.Title = "Chat Room";
}


<h2>Chat with @ViewBag.username:</h2>
<div id="dataModel" style="height:700px;width:1250px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;"></div>
<div id="scrollbox" name="scrollbox" align=center>
    @using (Ajax.BeginForm("CreateMessage", "Home", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
        LoadingElementId = "imgloader",
        OnFailure = "fnError",
        OnBegin = "fnOnBegin",
        UpdateTargetId = "messagetext",
    }))
    {
        <div class="form-horizontal">
            <div class="form-group">
                <input type="text" name="messageText" placeholder="Start typing..." class="form-control" />
                <input type="hidden" name="username" value=@ViewBag.username />
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </div>
    }
    <div id="messagetext"></div>
</div>

@section JavaScript{

    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            var hubNotify = $.connection.chatHub;

            $.connection.hub.start().done(function () {
                getAll();
            });

            hubNotify.client.refreshChat = function () {
                getAll();
            };
        });

        function getAll() {
            var model = $('#dataModel');
            $.ajax({
                url: '/Home/GetChatHistory/',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                data: { username: "@ViewBag.username" },
                dataType: 'html',
                success: function (result) { model.empty().append(result); }
            });
        }
    </script>
}
