
@model IEnumerable<MarriageWebWDB.Models.MessageModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Archive</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>
    @if (Model.Count() == 0)
    {
        <div class="match-container">
            <div align="center"> Hmm, it seems you haven't regretted any texts yet. Impressive.</div>
        </div>
    }
    else
    {
        <div class="match-container">
            <table style="color:#FFFFFA">
                <thead>
                    <tr>
                        <td style="color:#FFFFFA"><u>To</u></td>
                        <td style="color:#FFFFFA"><u>Text</u></td>
                        <td style="color: #FFFFFA"><u>Sent</u></td>
                        <td style="color:#FFFFFA"><u>Status</u></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="color:#FFFFFA">@Html.DisplayFor(modelItem => item.ReceiverUsername)</td>
                            <td style="color:#FFFFFA">@Html.DisplayFor(modelItem => item.MessageText)</td>
                            <td style="color:#FFFFFA">@Html.DisplayFor(modelItem => item.SendDate)</td>
                            <td style="color:#FFFFFA">@Html.DisplayFor(modelItem => item.ReadDate)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</body>
</html>